<div class="control-group theme">
  <label class="control-label">{{i18n 'favorites.preferences.select_favorites'}}</label>
  <div class="controls">
    <label>{{i18n 'favorites.preferences.select_favorites_instructions'}}</label>
    {{category-selector categories=selectedCategories}}
  </div>
</div>
